<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kmods.res" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="WhatsAppMD"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.App" >
		<activity 
		        android:theme="@style/Theme.App.Home.Splash" 
				android:name="com.whatsapp.Main" 
				android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" 
				android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:theme="@style/Theme.Prefs"
                android:name="kmods.Settings"
                android:label="KMods" />
        <activity
                android:theme="@style/Theme.Prefs"
                android:name="kmods.Privacy"
                android:label="Privacy"  />
    </application>

</manifest>